.header
  .header__side
    = render 'shared/headerside'
  .header__message
    = render 'shared/headermessage'
.contents 
  .contents__side
    = render 'shared/contentside'
  .contents__message
    = render 'shared/contentmessage'
  .form
    = render 'shared/form'